*{margin:0; padding:0;}

/* body */
body{
    background: #fffffa;
    font-family: poppins;
}
/* header */
header{
    width: 100%;
    overflow: hidden;
    background-color: black;
    z-index: 999;
        
}

/* cambios */
@media screen and (max-width: 700px){
    header .logo,
    header nav{
        width:100%;
        text-align:center;
        line-height:100px;
    }
    .header2{
        height: 250px;
    }

    .header2 .logo,
    .header2 nav{
        line-height: 50px;
    }
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin:auto;
        
}
header img{
    
    width: 25%;
    margin-right: 10px;
    margin-bottom: 30px;
    
    
}
header nav{
    float: right;
    line-height: 100px;
}
header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height:normal;
    font-size: 20px;
    font-weight: bold;
    

    -webkit-transition:all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;    
}
header nav a:hover{
    background: rgb(99, 154, 16);
    border-radius: 50px;
}

.header2 {
    position: fixed;
    
}
.header2 img .logo{
    line-height: 100px;
    font-size: 40px;
}
.header2 nav{
    line-height: 100px;
}


/* banner */
div .texto1{
    font-family:'Arial Narrow';
    color: #fff;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    line-height: 400px;
}
.imagen1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/jovenes.jpg); /* el linear-gradient oscurece la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    opacity: 1;

    height: 70vh;
}

/* contenido */
h2{
    color: #a7c54c;
}
.tarjeta{
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 10px 5px #939191;    
    margin:40px auto 40px auto;
    border-radius: 5px;
    width: 800px;
}
.textotarjeta{
    /* border: 1px solid; */
    flex: 5;
    margin: 30px 15px;
    text-align: center;    
    
}
.imagenTarjeta{
    background-image: url(../img/pareja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    height: 300px;
    width: 400px;
    flex: 5;
}

.contenido1 p{
    margin-bottom: 1em;
}

/* slider */
/* .populares{
    
} */

.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    background-color: #a7c54c7b;
    border-radius: 25px;

}
.carrusel-track{
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    transition: .5s ease-in-out;
    top: 0;
    left: 0;
}

.carrusel{
    position: relative;    
    width: 210px;
    /* padding: 0 18px; */
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;

}
.carrusel img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3ms ease-in-out;
}

@media(min-width:769px){

    .carrusel{
        width: 275px;        
    }
    .carrusel img{
        width: 250px;        
    }

}
.carrusel-list button{
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: large;
}
.adelante{
    left:0px
}
.atras{
    right: 0px;
}

